.notificationsList {
	position: absolute;
	right: 100px;
	top: 110px;
}

.notification {
	background-color: white;
	border-radius: 8px;
	border: 1px solid transparent;
	border-color: #e0e0e0;
	font-weight: bold;
	width: 300px;
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 20px;
}

.notificationImage {
  width: 25px;
	margin-right: 10px;
	margin-left: 10px;
}

.animNotification-enter {
  opacity: 0;
  transform: scale(0.9);
}
.animNotification-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}
.animNotification-exit {
  opacity: 1;
}
.animNotification-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}
