.taskItem {
	width: 560px;
	min-height: 200px;
	padding: 0 20px;
	margin: 0 auto;
	border-radius: 8px;
	border: 1px solid transparent;
	border-color: #e0e0e0;
	margin-bottom: 20px;
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.taskItem span {
	display: block;
	margin-bottom: 10px;
	font-size: 14px;
}

.taskItem p {
	margin-bottom: 10px;
}

.taskItem-group {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.taskText {
	margin-top: 25px;
	outline: hidden;
	word-wrap: break-word;
	max-width: 440px;
	margin-right: 20px;
}

.taskInfo {
	display: flex;
}

.taskInfo-label {
	margin-right: 15px;
	color: #81868b;
	max-width: 200px;
	max-height: 50px;
	overflow: hidden;
}

.taskInfo-label span {
	font-weight: bold;
	word-wrap: break-word;
}

.taskText-input {
	width: 547px;
	height: 40px;
	font-size: 16px;
	margin-top: 20px;
}

.taskItem-actions {
	visibility: hidden;
}

.taskItem:hover .taskItem-actions {
  visibility: visible;
}

.complete {
	color: green;
}

.uncomplete {
	color: orange;
}

.editByAdmin {
	max-width: 260px;
	color: #81868b;
	text-align: center;
	background-color: #EEEBEB;
	border-radius: 30px;
	height: 25px;
	padding-top: 7px;
}

.errorTextSize {
	opacity: 0.4;
	font-weight: bold;
}